<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <link rel="stylesheet" href="css/style.css">
</head>
    <body>
        <nav class="navbar navbar-expand-md bg-danger w-100">
    <div class="container-fluid">
      <a class="btn btn-danger fs-5 m-1 me-3" href="/">HOME</a>
      <button class="navbar-toggler bg-light m-1" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="btn btn-light fs-5 m-1" href="/realtimeproducts">Products</a>
        </div>
      </div>
    </div>
  </nav>
        {{{body}}}
<footer class="bg-danger w-100">
    <p class="text-light m-2 text-center fw-bolder fs-4">Shoe Shop By Rodrigo Alcaraz</p>
  </footer>
    </body>
</html>